.section-sidebar {
  width: 192px;
  height: calc(100% - 48px);
  position: fixed;
  z-index: 1;
  overflow: hidden;
  overscroll-behavior: contain;
}

.section-sidebar .nav .thumbnail {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none;
  border-radius: 2px;
  overflow: hidden;
}

.section-sidebar .nav .label {
  color: #000;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  padding: 8px 0 8px 36px;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 2px;
  transition: background-color 0.15s, padding-right 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
}

.section-sidebar .stealthy-scroll-container {
  padding-top: 24px;
}

#top-nav,
.section-sidebar .stealthy-scroll-container,
a.back-to-top {
  will-change: transform;
}

.stealthy-scroll-container {
  padding-right: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#sidebar {
  display: none;
}

.section-sidebar section {
  padding: 0 0 12px;
}

.section-sidebar .nav {
  list-style: none;
}

.section-sidebar .icon.hot {
  background-position: -168px 0;
}

.section-sidebar .nav .thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}

.section-sidebar .nav li {
  position: relative;
}

a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
label,
li,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
  outline: 0;
}

.section-sidebar .icon,
.section-sidebar .nav .thumbnail {
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: 288px 48px;
  background-image: url(../img/post-action-sprite.png);
  left: 4px;
  top: 50%;
  margin-top: -12px;
}

.section-sidebar .icon.hot {
  background-position: -168px 0;
}

.section-sidebar .footer {
  padding-bottom: 24px;
}

.section-sidebar .footer p.static {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  margin-bottom: 8px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
